/* Colours */
/* brown: #7A4F47 */
/* pale brown: #F0DDD5 */
/* pale grey: #FBF3ED */
/* medium brown: #D7B7A7 */
/* medium blue: #AEE0FF */

body {
  background: #FBF3ED;
}

.App-header {
  color: #7A4F47;
  text-align: center;
  height: 60px;
  padding: 20px;
  border-bottom: 3px solid #7A4F47;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.tile {
  height: 200px;
  width: 200px;
  margin: 10px;
  background: #F0DDD5;
  float: left;
  font-size: 0.8em;
  text-align: left;
  padding: 10px;
}

.categoryName {
  color: #7A4F47;
}

.button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.newNoteButton {
  background: #7A4F47;
  color: white;
  font-size: 1.1em;
}

.categoryButton {
  background: #AEE0FF;
  font-size: 0.95em;
  padding: 5px;
}

.selected {
  background: #42647A;
  color: white;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 180px;
  font-size: 11px;
  padding: 2px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}

.categoryMenu {
  margin-bottom: 20px;
}

img {
  max-width: 180px;
  max-height: 100px;
}
