.App-header {
  text-align: center;
  height: 60px;
  padding: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.tile {
  height: 180px;
  width: 180px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 0.8em;
  text-align: left;
}

.categoryName {
  color: blue;
}

.button {
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.newNoteButton {
  background: darkblue;
  color: white;
  font-size: 1.1em;
}

.categoryButton {
  background: lightblue;
  font-size: 0.95em;
  padding: 5px;
}

.selected {
  background: darkblue;
  color: white;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

.deleteButton {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.tile:hover .deleteButton {
  visibility: visible;
}

.categoryMenu {
  margin-bottom: 20px;
}
